# Chặn thư mục cấu hình của VS Code
.vscode/

# Chặn các file rác khác nếu có
node_modules/
.DS_Store
# Chặn các file thực thi (file chạy)
*.exe
*.out
*.o
*.obj

# Chặn các thư mục tạm của Visual Studio (nếu bạn dùng)
.vs/
Debug/
Release/
x64/